@font-face {
    font-family: "Inter Regular";
    src: url(./assets/fonts/Inter-Regular.ttf);
}

* {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Inter Regular";
}

body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: grab;
}

.child {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.child-inner {
    width: 400px;
    height: 400px;
    background-color: #223344;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    transform: scale(1);
    transition: all 0.2s;
    opacity: 0.45;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    font-size: 30px;
    color: #F00;
    overflow: hidden;
}

.child[active="1"] { 
    z-index: 100;
    opacity: 1;
}

.child[active="0"] { 
    z-index: 0;
    opacity: 1;
}

.child[active="1"] > .child-inner {
    filter: blur(0.2px);
    opacity: 0.75;
}

.child[active="0"] > .child-inner {
    filter: blur(4px);
    opacity: 0.3;
}

.child[active="1"] > .child-inner:hover {
    transform: scale(1.05);
    opacity: 0.75;
    box-shadow: 0px 0px 60px rgba(0,0,0,0.75);
    filter: blur(0px);
}

[click-open] {
    cursor: pointer;
}

.profile-link {
    position: fixed;
    left: 25px;
    top: calc(100vh - 50px);
    line-height: 30px;
    color: #FFF;
    cursor: pointer;
    padding: 0px 20px 0px 35px;
    background-image: url(./index.svg);
    background-position: left;
    background-size: auto 85%;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: opacity 0.1s;
    font-size: 14px;
}

.profile-link:hover {
    opacity: 0.9;
}

.profile {
    background-color: transparent;
    text-align: center;
}

.profile-top {
    height: 180px;
    background-color: #223344;
}

.profile-bottom {
    z-index: 1;
    background-color: #111a22;
    height: 220px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;
    top: -110px;
    z-index: 2;
    border: 5px solid #111a22;
}

.profile-name {
    position: relative;
    top: -92px;
    color: #FFF;
    font-weight: 800;
}

.profile-count {
    position: relative;
    top: -80px;
    font-size: 13px;
}

.spr {
    padding: 0px 4px;
    color: #FFF9;
    transition: color 0.1s;
}

.spr:hover {
    color: #FFFF;
}

.calendar {
    text-align: center;
}

.calendar-top {
    background-color: #223344;
    color: #FFF;
    padding: 30px 0px 20px;
}

.calendar-top-title {
    line-height: 30px;
    font-size: 20px;
}

.calendar-top-subtitle {
    line-height: 20px;
    font-size: 13px;
    color: #FFF9;
}

.calendar-bottom {
    background-color: #111a22;
    height: 268px;
    padding: 16px 10px;
    cursor: pointer;
}

.calendar-day {
    width: 13.53px;
    height: 13.53px;
    margin: 1.5px;
    float: left;
    border-radius: 3px;
}

.day-level-0 { background-color: #1e252f; }
.day-level-1 { background-color: #0e4429; }
.day-level-2 { background-color: #006d32; }
.day-level-3 { background-color: #26a641; }
.day-level-4 { background-color: #39d353; }